# dependências de desenvolvimento
ipdb
ipython
pudb
pytest-watch


# build
wheel

# qualidade do código
flake8==4.0.1
pyproject-flake8
black
isort

# docs
mkdocs  # rodar mkdocs new .
# um arquivo mkdocs.yml será criado na pasta atual
# uma pasta chamada docs será criada
# depois rodar mkdocs serve para criar o site

# build
wheel

# instalar projeto como editável
-e .
